<div class="container">
  <div class="box">
    <div class="center">
      <h2 class="small"><%= t('.title') %></h2>
    </div>
    <ul class="portfolio-items col-4 isotope" style="position: relative; overflow: hidden; height: 450px;">
    <% plans.each do |plan| %>
      <% next unless plan.hotel %>
      <%= render partial: 'hotel', locals: {hotel: plan.hotel, point_icon: plan.point_icon, gift_icon: plan.gift_icon} %>
    <% end -%>
    </ul>
  </div><!-- // box -->
</div><!-- // container -->