<% title t('front.project_name') %>
<% description '東京都内のお気に入りのホテルを登録したサイトです。クオカードがもらえるホテルや便利なホテルを集め、空室カレンダーを作成しています。' %>
<section id="highest-review-hotels" class="portfolio">
  <%= render partial: 'highest_review_hotels', locals: {hotels: @hotels} %>
</section>
<section id="gift-hotels" class="portfolio">
  <%= render partial: 'gift_hotels', locals: {plans: @plans} %>
</section>
<%= javascript_include_tag_to(:foot, 'front/dashboard') %>