defaults: &defaults
  site_title: ''
  rakuten_api_keys:
    - application_id: "YOUR_APPLICATION_ID"
      affiliate_id: "YOUR_AFFILIATE_ID"
      boost: 1
#    - application_id: "YOUR_APPLICATION_ID_2"
#      affiliate_id: "YOUR_AFFILIATE_ID_2"
#      boost: 10
  api_sleep_time: 2

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  google_analytics: ''
