<section id="calendar">
  <div class="container">
    <div class="box">
	    <h3><%= t('front.vacancy_calendar') %></h3>
  	  <p><%= raw t('front.vacancy_calendar_lead') %></p>
  	  <div class="row">
	    	<div id="calendar-box" class="col-md-6" data-url="<%= url %>"></div>
	    </div>
    </div>
  </div>
</section>
<% javascript_include_tag_to :foot, 'front/hotel' %>