<div class="center">
  <h3><%= t('front.vacancy_calendar') %></h3>
  <p><%= raw t('front.vacancy_calendar_lead') %></p>
</div>
<div class="row">
  <div id="calendar-box" class="col-md-10 col-md-offset-1" data-url="<%= url %>" style="font-size: 12px !important;"></div>
</div>
<% javascript_include_tag_to :foot, 'front/hotel' %>