<% title @hotel.name %>

<section id="breadcrumbs">
<div class="container">
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><%= link_to t('front.menu.hotels'), front_hotels_path %></li>
    <li class="active"><%= link_to @hotel.name, front_hotel_path(URI.escape(@hotel.name)) %></li>
  </ol>
</div>
</section>
<%= render partial: 'hotel_info', locals: {hotel: @hotel} %>
<%= render partial: 'vacancy_calendar', locals: {url: stay_front_hotel_path(@hotel)} %>